<div class="main-tools">
  <ion-row>
    <ion-col no-padding *ngFor="let l of toollist">
      <button ion-button full (click)="toggleTools(l)" no-margin>
        <ion-icon [name]="l.icon"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <div class="assistant-tools" *ngIf="tool.action?.parameter && isShowSubTool">
    <ion-row>
      <ion-col no-padding>
      </ion-col>
      <ion-col no-padding col-auto>
        <ion-label>
          <ion-icon [name]="tool.action?.icon"></ion-icon>
          {{tool.action?.name}}
        </ion-label>
      </ion-col>
      <ion-col no-padding text-right>
        <button ion-button color="light" icon-only (click)="closeAction()" no-margin>
          <ion-icon name="arrow-down"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <div *ngIf="tool.action.idx == 1 ">
      <line-width [property]="'lineWidth'" [min]="1" [max]="20"></line-width>
      <colors></colors>
    </div>
    <div *ngIf="tool.action.idx == 4 ">
      <colors></colors>
      <squares></squares>
    </div>
    <div *ngIf="tool.action.idx == 3 ">
      <line-width [property]="'font'" [min]="15" [max]="72"></line-width>
      <colors></colors>
    </div>
    <div *ngIf="tool.action.idx == 2 ">
      <crop></crop>
    </div>
  </div>
</div>

