colors{
  .color-palette{
    ion-col{
      height: 15px;
      width: 15px;
      margin:5px;
      border-radius: 3px;
      &.chosed{
        box-shadow:0 0 0 2px color($colors,dark);
      }
    }

    ion-icon:before{
      text-shadow: 2px 0 color($colors,dark);
      font-size:1.2em;
    }
  }
}
