dragbox{
  .drag-box{
    position: absolute;
    z-index:100;
    top:0;
    left:0;
    box-shadow: 0 0 2px 0 color($colors,dark);
    height: auto;
    padding: 10px;
    button{
      position: absolute;
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
      &.left-top{
        left: -10px;
        top: -10px;
      }
      &.left-bottom{
        left: -10px;
        bottom: -10px;
      }
      &.right-top{
        right: -10px;
        top: -10px;
      }
      &.right-bottom{
        right: -10px;
        bottom: -10px;
      }
    }
    textarea{
      background: transparent;
      border: none;
      width:100%;
      padding: 0;
    }
    .point{
      padding:10px;
      position: absolute;
      &:after{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 1px color($colors,white);
        background: color($colors,primary);
        content:" ";
        display: block;
      }
      &.left{
        left:-13px;
        top:calc(50% - 13px);
      }
      &.right{
        right:-13px;
        top:calc(50% - 13px);
      }
    }
  }
}
