<ion-header *ngIf="!scaleStatus">
  <ion-navbar>
    <ion-title>Canvas Image Edit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content >
  <div #imgParent class="imgParent" ion-fixed>
    <img #img [src]="imageUrl" [rotate]="rotateDeg"  scale (startScale)="scaleStatus = true" (endScale)="scaleStatus = false" *ngIf="!isEdit">
  </div>
</ion-content>

<ion-footer text-center *ngIf="!scaleStatus">
  <button ion-button item-right clear icon-only>
    <ion-icon name="download-outline"></ion-icon>
  </button>
  <button ion-button item-right clear icon-only (click)="rotate()">
    <ion-icon name="refresh"></ion-icon>
  </button>
  <button ion-button item-right clear icon-only (click)="edit()">
    <ion-icon name="create-outline"></ion-icon>
  </button>
</ion-footer>
