image-edit{
  .imgParent{
    position: relative;
    overflow: hidden;
    width : 100%;
    height : 100%;
    &>img{
      width: 100%;
      height : auto;
      position: absolute;
    }
    canvas-comp{
      position: absolute;
      width: 100%;
      z-index: 99;
    }
  }
  .ischose{
    border : 1px solid #fff;
    box-shadow: 0 0 2px 2px #2d2d2d;
  }
  .fab[small] {
    height : 30px;
    width : 30px;
  }

}
