<ion-header>
  <ion-navbar>
    <ion-title>Canvas Image Edit</ion-title>
    <ion-buttons end>
      <button ion-button item-right clear icon-only (click)="listenEdit()">
        <ion-icon [name]="isEdit? 'open-outline' : 'create-outline'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div #imgParent class="imgParent" fixed>
    <img #img [src]="imageUrl" *ngIf="!isEdit">
    <canvas-comp #cs *ngIf="isEdit" [imageUrl]="imageUrl">
    </canvas-comp>
  </div>
  <ion-footer *ngIf="isEdit">
    <tools></tools>
  </ion-footer>
</ion-content>
